{:dest "dev-resources/_site"
 :post-dir "dev-resources/posts"
 :page-dir "dev-resources/pages"
 :pagination-pattern "page:num.html"
 :posts-per-page 3
 :pagination-template tamaki.template.page-test/page-template
 :copy #{"css" "html/foo.html"}
 :url "http://tamaki.org"
}